* {
    box-sizing: border-box;
}

body {
    color: #FBFBFB;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.02em;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    background: #0E1823;
}

/* ===================== SECTION 2 ======================== */

/* ===================== MOBILE =========================== */

.poster {
    display: flex;
    width: 100%;
    padding: 40px 20px 335px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    border-radius: 24px;
    background: #FBFBFB;
}

.poster-title {
    color: #1B414B;
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.02em;
}

.poster-paragraphs {
    display: flex;
    width: 295px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.poster-description {
    color: #1B414B;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.02em;
}

.poster-invitation {
    color: #040306;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: -0.02em;
    opacity: 0.4;
}

.thumb {
    position: relative;
    top: -295px;
    display: flex;
    width: 335px;
    height: 395px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 24px;
    background-color: lightgray -181.984px -4.244px / 182.464% 109.429% no-repeat;
    background-size: 335px;
}



/* ===================== TABLET ======================== */

@media screen and (min-width: 768px) and (max-width: 1279px) {

    .container {
        width: 768px;
        text-align: start;
        padding-left: 32px;
        padding-right: 32px;
    }

    .poster {
        display: inline-flex;
        padding: 50px 136px 244px 32px;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
    }

    .poster-title {
        width: 536px;
        color: #1B414B;
        font-size: 48px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.02em;
    }

    .poster-paragraphs {
        display: flex;
        width: 389px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .poster-description {
        color: #1B414B;
        font-size: 23px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: -0.02em;
    }

    .poster-invitation {
        color: #040306;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.15;
        letter-spacing: -0.02em;
        opacity: 0.4;
    }

    .thumb {
        position: relative;
        top: -194px;
        width: 704px;
        height: 470px;
        border-radius: 24px;
        background-color: lightgray -56.901px -9.603px / 112.912% 119.598% no-repeat;
        background-size: 704px;
    }
    
}


/* ================= DESKTOP ============================ */

@media screen and (min-width: 1280px) and (max-width: 1439px) {

    .container {
        width: 1280px;
        text-align: start;
        padding-left: 50px;
        padding-right: 50px;
    }

    .poster {
        display: flex;
        flex-direction: row;
        width: 1180px;
        height: 675px;
        padding: 50px 50px 415px 50px;
        justify-content: center;
        align-items: flex-start;
        gap: 189px;
        flex-shrink: 0;
    }

    .poster-title {
        width: 537px;
        font-size: 48px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.02em;
    }

    .poster-paragraphs {
        display: flex;
        flex-direction: column;
        width: 354px;
        align-items: flex-start;
        gap: 20px;
    }

    .poster-description {
        color: #1B414B;
        font-size: 23px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: -0.02em;
    }

    .poster-invitation {
        color: #040306;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.15;
        letter-spacing: -0.02em;
        opacity: 0.4;
    }

    .thumb {
        position: relative;
        top: -315px;
        width: 1180px;
        height: 470px;
        border-radius: 24px;
        background-color: lightgray 50% / cover no-repeat;
        background-size: 1180px;
    }




}

/* =================== DESKTOP WIDE ======================== */

@media screen and (min-width: 1440px) {
    .container {
        width: 1440px;
        text-align: start;
        padding-left: 50px;
        padding-right: 50px;
    }

    .poster {
        display: flex;
        flex-direction: row;
        width: 1340px;
        height: 675px;
        padding: 50px 50px 438px 50px;
        justify-content: center;
        align-items: flex-start;
        gap: 299px;
        flex-shrink: 0;
    }

    .poster-title {
        width: 537px;
        flex-shrink: 0;
        color: #1B414B;
        font-size: 48px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.02em;
    }

    .poster-paragraphs {
        display: flex;
        flex-direction: column;
        width: 404px;
        align-items: flex-start;
        gap: 20px;
    }

    .poster-description {
        color: #1B414B;
        font-size: 23px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: -0.02em;
    }

    .poster-invitation {
        color: #040306;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.15;
        letter-spacing: -0.02px;
        opacity: 0.4;
    }

    .thumb {
        position: relative;
        top: -338px;
        width: 1340px;
        height: 470px;
        flex-shrink: 0;
        border-radius: 24px;
        background-size: 1340px;
        background-color: lightgray 50% / cover no-repeat;
    }

}